<!doctype html>
<html lang="en">

<head> <%- include('../partials/head') %> </head>

<body>

  <!-- navigator  -->
  <%- include('../partials/navigator') %>





    <main style="background-image: url('../anime/blobanimation.svg')">


    <div class="album py-5 bg-body-tertiary">

      <div class="container-sm">

        <h2>Signup Form</h2>
        <form action="/register" method="post">


          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required>
          </div>

          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required>
          </div>

          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <!-- 
            <div class="form-group">
              <label for="roleId">Role ID:</label>
              <input type="text" class="form-control" id="roleId" name="roleId" required>
            </div> -->


          <button type="submit" class="btn btn-primary">Submit</button>

        </form>

        <hr>

        <a href="/login"> LOGIN </a>

      </div>

    </div>
    </div>
    </div>

    </main>



    <%- include('../partials/footer') %>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <%- include('../partials/home-js.ejs') %>

        <!-- <script src="javascripts/signup.js"> </script> -->


</body>

</html>